Django>=5.0,<6.0
django-tenants
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-filter
drf-spectacular
psycopg[binary]
redis
python-dotenv
celery
django-simple-history
Pillow
django-oauth-toolkit
pytest
pytest-django
factory-boy
pyotp
qrcode
debugpy>=1.8.0

