/* MAIN MENU */

    #menu-main-page{
        background-color: var(--accent-color);
    }
    #menu-main-page .item-link-nav a {
        color: var(--primary-color) !important;
        padding-bottom: 0px;
        padding-top: 1rem;
        border-radius: 0; /* Eliminamos el border-radius */
    }
    #menu-main-page .item-link-nav a:hover {
        background-color: transparent; /* Eliminamos el fondo al hacer hover */
        border: none; /* Eliminamos todos los bordes */
        border-bottom: 2px solid var(--secondary-color); /* Añadimos solo el borde inferior */
    }
    .Menu-is-login{
       position: absolute;
       right: 1px;
    }
    #block-educk-theme-main-menu{
        width: 100%;                                
    }
    #rigth-section{
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: center;
        right: 0px;
        position: absolute;
        margin-right: 1rem;
    }
    #logo-header{
        width: 100px;
        margin-left: 0.9rem;
    }
/* END MAIN MENU */