#global-message-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .message {
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .message-status { background-color: #d4edda; color: #155724; }
  .message-warning { background-color: #fff3cd; color: #856404; }
  .message-error { background-color: #f8d7da; color: #721c24; }
  
  .message-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
  }

.message > span > img{
    width: 30px;
}
